docopt==0.6.2
gdbn==0.1
gnumpy==0.2
joblib==0.8.4
-e git+https://github.com/benanne/Lasagne.git@6f23af2cd948b00a30c1428798a73ce0ab123dfb#egg=Lasagne-dev
matplotlib==1.4.2
mock==1.0.1
-e git+https://github.com/dnouri/nolearn.git@ad0b167672af14397ac82401ffd259c88e4f0760#egg=nolearn-dev
nose==1.3.4
numpy==1.9.1
pandas==0.15.2
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
scikit-learn==0.15.2
scipy==0.15.1
seaborn==0.5.1
six==1.9.0
-e git+https://github.com/Theano/Theano.git@ba45997f3d252f1a0674d93b1f073ba136521de2#egg=Theano-dev
